@component-namespace one{
  @b title{

    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;

    @e type{
      height: 40px;
      font-size: 28px;
      color: #444;
      padding-left: 20px;
      margin-left: 20px;
      border-left: 5px solid #dd5862;
    }

    @e list{
      display: flex;
      align-items: flex-end;

      & .type{
        font-size: 18px;
        color: #7b7b7b;
        margin-right: 30px;
        cursor: pointer;

        &:hover{
          color: #dd5862;
        }

        &:last-child{
          margin-left: 0;
        }
      }
    }
  }
}
