@component-namespace one{
  @b summaryBH{

    @e list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @e card{

      .big &{
        width: 570px;
        height: 380px;
        margin-bottom: 40px;
      }

      .small &{
        width: 360px;
        height: 260px;
        margin-bottom: 60px;
      }

      position: relative;

      &:last-child{
        margin-right: 0;
      }

      & .thumbnail{
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
    }

    @e description{
      width: 100.05%; /* 在 mac retina 屏幕 chrome 下右边会有1px 缝隙, 所以设为100.05 */
      height: 50px;
      opacity: 0.8;
      background-color: #fff;
      position: absolute;
      bottom: 0;

      display: flex;
      align-items: center;
      justify-content: space-between;

      & .unit{
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        color: #a56748;
        margin-left: 20px;
      }

      & .like{
        font-size: 13px;
        color: #999;
        margin-right: 20px;

        & .icon{
          vertical-align: bottom;
          margin-right: 6px;
        }
      }
    }
  }
}
