@component-namespace one{
  @b banner{

    padding-bottom: 40px;

    @e slideshow{
      width: 1200px;
      height: 400px;
      margin-bottom: 15px;
      overflow: hidden;
      display: flex;

      & .switch-enter-active{
        transition: all .3s;
      }

      & .switch-leave-active {
        transition: all .5s;
        opacity: 1;
      }
      & .switch-enter{
        transform: scale(0.7);
        opacity: .6;
      }

      & .switch-leave-to /* .fade-leave-active in <2.1.8 */ {
        transform: translateX(-1200px);
        opacity: 0;
      }
    }

    @e slide{
      width: 1200px;
      height: 400px;
      border-radius: 11px;
      flex-shrink: 0;

      @when seccend{

      }
    }

    @e indicator{
      display: flex;
      justify-content: center;

      & div{
        width: 8px;
        height: 8px;
        background-color: #bbbbbb;
        margin-left: 15px;
        border-radius: 50%;
        cursor: pointer;

        &:hover{
          background-color: #dd6862;
        }

        &.isActive{
          background-color: #dd6862;
        }
      }
    }
  }
}
